<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}{% if site.tagline %} &middot; {{ site.tagline }}{% endif %}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="me" href="https://pub.wart.ca">
  <link rel="micropub" href="https://pub.wart.ca/micropub">
  <link rel="authorization_endpoint" href="https://pub.wart.ca/auth">
  <link rel="token_endpoint" href="https://pub.wart.ca/auth/token">

  <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/assets/apple-touch-icon-precomposed.png' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ 'atom.xml' | relative_url }}">

  <script id=”MathJax-script” async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <style>
    .photo-credit {
      display:inline-block;
      font-size: 10pt;
      font-family: Helvetica, sans-serif;
      color: darkslategray;
    }
  </style>
  {% seo title=false %}
</head>
